:root {
  --bs-primary: #00539B;
  --bs-secondary: #00A5E0;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
}

.card-header {
  font-weight: 600;
}

@media (hover: hover) {
  .card:hover {
    transform: translateY(-2px);
    transition: .2s ease;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
